<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - @ViewData["ApplicationName"]</title>
    @Html.Partial("_Styles")
    @await RenderSectionAsync("Css", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed" data-panel-auto-height-mode="height">
    <div class="wrapper">
        @Html.Partial("_PreLoader")
        @Html.Partial("_Navbar")
        @Html.Partial("_Sidebar")
        @Html.Partial("_CookieConsentPartial")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
    @Html.Partial("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>